.contact_container {
  width: 100vw;
  height: auto;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to right, black, #e4e4e4);
}

@media only screen and (max-width: 949px) and (min-width: 550px),
  only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .contact_container {
    height: 100vh;
  }
}

.contact_box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5.5rem;
  padding-bottom: 4.5rem;
  transition: 1s ease all;
  width: 50%;
  max-width: 900px;
  font-family: "AccoladeTOTMed W01 Regular";
  color: white;
}

@media only screen and (max-width: 949px) and (min-width: 550px),
  only screen and (max-width: 549px) and (min-width: 400px),
  only screen and (max-width: 399px) and (min-width: 350px),
  only screen and (max-width: 349px) {
  .contact_box {
    margin-left: 1.5rem;
    margin-right: 0;
    width: 90vw;
  }
}

.btnStyle {
  transition: all 0.5s ease-in-out 0s;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.btnStyle:hover {
  transform: translateY(-0.5rem) scale(1.1);
}

.follow {
    font-size: 1.2rem;
}

.social_icon {
    margin-left: 1.2rem;
    font-size: 2rem;
}
